.student-auth{
    background-color: #2c1879!important;
}
.student-email{
    color: #999996!important;
}
.student-email-input{
     background-color: #443385!important;
     border: none!important;
     color: #999996!important;
}
.student-head{
    color:beige;
    margin-bottom: 3%;
}
.form-group{
    margin-bottom: 36px!important;
}
